@import "tailwindcss";


@theme {

  /* font family */
  --font-primary: "Poppins", "Open Sans", serif;
  --font-secondary: "U8", "Poppins", "Oswald";

  /* screen size */
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;


  /* color */
  --color-primary-1: #fd7d31;
  --color-primary-2: #FFEFDB;
  --color-primary-3: #797b89;
  --color-primary-4: #383a47;
  --color-primary-5: #a0a0a2;
  --color-primary-6: #f2f2f2;
  --color-primary-7: #fff5e1;

  --color-secondary-1: #88888A;
  --color-secondary-2: #1B1C20;
  --color-secondary-3: #6b7280;
  --color-secondary-4: #111827;


  --color-green-1: #22C55E;

  --color-red-1: #F75555;

}